.nav-bar{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: rem(5);
    background-color: $colorBtn;
    border-radius: 5px;
    box-shadow: 5px 10px 30px #000;
}
.nav-options{
    text-decoration: none;
    color: $colorFont;
    font-family: $fontTitle;
    font-weight: bold;
    
}

