// FUNCTION REM

$defaultFontSize: 16;
@function rem($pixels) {
  @return ($pixels / $defaultFontSize * 1rem);
}

// MIXINS

@mixin displaymain() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin titleFont() {
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: $colorFont;
}

@mixin background(){
  background: #076585;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin box(){
  background: #EAEAEA;  /* fallback for old browsers */
  
  
  
  


}

@mixin principalColor(){
  background: #00b4db;
  background: linear-gradient(to right, #00b4db, #0083b0);
}




// HEIGHT
$bodyHeight: 100vh;

// COLORS

$backgroundMain: #4ebec8;
$circlesLeft: #8fb3fb;
$circlesRight: #4e81c8;
$colorFont: white;
$colorBtn: #573b8a;
$colorBckg: #e0eafc;
$colorBtn2: #FF512F;




// FONT-FAMILY
$fontTitle: 'Jost', sans-serif;